<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Find Your Strength.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BECF9E0E1BF2E4460081F06C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BECF9E251BF2E4460081F06C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BECF9E301BF2E4460081F06C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
